services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_POSTGRESDB_USER}
      - POSTGRES_PASSWORD=${DB_POSTGRESDB_PASSWORD}
      - POSTGRES_DB=${DB_POSTGRESDB_DATABASE}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - n8n-net

  n8n:
    image: n8nio/n8n:latest
    restart: always
    env_file:
      - .env
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
      - ./ca.pem:/home/node/ca.pem:ro
    networks:
      - n8n-net

volumes:
  postgres-data:
  n8n_data:

networks:
  n8n-net:
    driver: bridge
